.about{
    padding: 1.5rem;
}

.about-introduction{
    color: #DCD7C9;

    padding-bottom: 1rem;
}

.dark .about-introduction{
    color: lightslategray;
}

.introduction__title{
    text-align: center;;
}

.dark .introduction__title{
    color: darkslategrey;
}