.footer{
    background-color: var(--header-bg);
}

.footer{
    position: relative;
    
    margin: 0;
    padding: 1.5rem;

    width: 100%;
    
    background-color:var(--header-bg);

}

.footer__list{
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    list-style: none;

    justify-items: center;
    align-items: center;
}

.footer__list li{
    padding: 0.4rem;

    font-size: 0.7rem;
}

.footer__link{
    color:#7D6E83;
    
    text-decoration: none;
}

.footer__link:hover{
    color: #B4846C;
}

@media screen and (min-width: 44rem) {
    .footer__list{
        flex-direction: row;
        justify-content: space-around;
    }
}