*, *::before, *::after{
    box-sizing: border-box;
}

html, body{
    position: absolute;

    height: 100%;
    width: 100%;
    margin: 0;

    font-family: sans-serif;
}

/*
 *
 *
 * header
 *
 *
 */

header{
    position: fixed;
    width: 100%;
    
    display: flex;
    flex-direction: column;

    background-color: #DCD7C9;

    margin: 0;

    z-index: 1;
}

header div{

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2rem;
}

header div a{
    width: 50vw;
}

header div a img{
    aspect-ratio: 1/1;
    width: 5rem;
}


header div h1{
    justify-content: center;
    text-align: center;

    margin: 0;

    width: 100%;

    font-size: 2rem;

    color: #472D2D;
}

/* below CSS adapted from https://css.gg under the MIT License */
/* https://css.gg/home-alt */
.gg-home-alt {
    margin-left: auto;

    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,2));
    width: 18px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-radius: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: -2px;
}
.gg-home-alt::after,
.gg-home-alt::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-home-alt::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0
}
.gg-home-alt::after {
    width: 6px;
    height: 10px;
    background: currentColor;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 4px;
    bottom: -2px
}

.gg-home-alt span {
    position: relative;

    display: none;

    font-size: 0.7rem;

    width: 4rem;

    opacity: 20%;
 
    left: -300%;
    top: 1rem;
 
    color: #fff;
 
    text-align: center;
 
    background-color: rgba(1,1,1,0.7);
 
}

.gg-home-alt:hover span {
    display: block;
 
}

.localnav{
    padding: 0.5rem;
}

.localnav__menu{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1rem;

    padding: 0;
    margin: 0;

    justify-items: center;
    align-items: center;

    list-style: none;
}

.localnav__item{
    grid-column: span 12;
}

.localnav__item button{
    border: none;
    padding: 0;

    position: relative;

    background-color: inherit;
    color: #7D5A50;

    font-size: inherit;
    text-decoration: none;

    cursor: pointer;

}

.localnav__menu ul{
    position: absolute;
    left: -100%;

    padding: 0;
    margin: 0;

    background-color: #d4cdbc;

    overflow: hidden;
    list-style: none;

    transition: left 1s;
} 


.localnav__menu ul li{
    padding: 0.2rem 1rem;
    opacity: 0;

    transition: opacity .5s;
}

.localnav__menu li:hover ul,
.localnav__menu li:focus-within ul{
    left: 0;
}

.localnav__menu li:hover ul li,
.localnav__menu li:focus-within ul li{
    opacity: 1;
}

.localnav__item li a{
    color: #7D5A50;
}

.localnav__item li a:hover{
    color: #B4846C;
} 



/*
 *
 *
 * main
 *
 *
 */
.main{
    background-color: #AEA69D;

    position: relative;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    padding: 2rem;
    padding-top: 19rem;
}

.main h2{
    grid-column: span 12;

    font-size: 2rem;
    color: #472D2D;
}

.main .body{
    grid-column: span 12;

    display: grid;
    grid-template-areas:
    "des_one"
    "pic_one"
    "des_two"
    "pic_two" 
    "des_three" 
    "pic_three";
}

.about_tiger_description_one{
    grid-area: des_one;
}

.about_tiger_img_one{
    grid-area: pic_one;
}

.about_tiger_description_two{
    grid-area: des_two;
}

.about_tiger_img_two{
    grid-area: pic_two;
}

.about_tiger_description_three{
    grid-area: des_three;
}

.about_tiger_img_three{
    grid-area: pic_three;
}

.about_tiger_img_one img, .about_tiger_img_three img{
    height: 50vw;
}

.about_tiger_img_two img{
    width: 50vw;
}

.about_tiger_img_one,
.about_tiger_img_two,
.about_tiger_img_three{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.about_tiger_img_two{
    margin-left: 1vw;
}

.about_tiger_description_three{
    margin-top: 0;
}

figcaption{
    font-size: 1vw;

    color: lightgray;
}

p{
    font-size: 1rem;
    
    color: #472D2D;
}

/*
 *
 *
 * footer
 *
 *
 */
 footer{
    position: relative;

    margin: 0;
    margin-bottom: 1rem;

    padding: 1rem;
    padding-bottom: 1.5rem;

    width: 100%;
    background-color: #DCD7C9;

}

footer ul{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2vw;

    padding: 0;
    margin: 0;

    list-style: none;

    justify-items: center;
    align-items: center;
}

footer p{
    grid-column: span 12;

    text-align: center;

    color: #7D5A50;;
}

footer li{
    grid-column: span 12;

    font-size: 0.7rem;

}

.footer a{
    color:#7D6E83;
    
    text-decoration: none;
}
.footer a:hover{
    color: #B4846C;
}


/*
 *
 *
 * desktop
 *
 *
 */
@media screen and (min-width: 40rem) {

    header div h1{
        font-size: 3rem;
    }

    header div a img{
        width: 50%;
    }

    .gg-home-alt {
        transform: scale(var(--ggs,2.5));
    }

    .localnav__item{
        grid-column: span 4;
    }

    .localnav__menu ul{
        position: absolute;
        left: initial;
    
        padding: 0;
        margin: 0;
    
        background-color: #d4cdbc;
            
        overflow: hidden;
        list-style: none;
    
        transform: rotateX(90deg);
        transform-origin: top;
    
        transition: transform 1s,;
    
    }

    .localnav__menu li:hover ul,
    .localnav__menu li:focus-within ul{
        left: initial;
        transform: rotateX(0deg);
    }

    .main{
        padding-top: 45vh;

    }

    .main .body{
        grid-template-areas:
        "des_one des_one des_one"
        "des_two pic_one pic_one"
        "pic_two des_three pic_three";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 25vw;
    }

    .about_tiger_img_one img{
        height: 35vw;
    }

    .about_tiger_img_two img{
        width: 15vw;
    }

    .about_tiger_img_three img{
        height: 20vw;
    }

    p{
        font-size: 2vw;
    }


    footer li{
        grid-column: span 4;
    }
}

